/* 
ARCONIX TESTIMONIALS CSS
--------------------------

PLEASE DO NOT make modifications to this file directly as it will be overwritten on update.
Instead, save a copy of this file to your theme or child theme directory. It will then be
loaded in place of the plugin's version and will maintain your changes on update

*/

/* Wraps around all the testimonials */
.arconix-testimonials-wrap { }

/* Wraps around a single testimonial */
.arconix-testimonial-wrap {
    background-color: #f5f5f5;
    border-bottom: 2px solid #eee;
    margin-bottom: 50px;
    padding: 5px 10px;
}

/* Around the testimonial itself */
.arconix-testimonial-content {
    font-style: italic;
    margin-bottom: 20px;
}

/* Wrap around the Gravatar and Author Info */
.arconix-testimonial-info-wrap { 
    overflow: auto;
    padding-bottom: 5px;
}

/* User gravatar */
.arconix-testimonial-gravatar {
    float: left;
    margin-right: 20px;
}

/* Author */
.arconix-testimonial-author {
    display: inline;
    font-weight: bold;
}

/* Byline */
.arconix-testimonial-byline {
    display: inline;
}

/* Byline hyperlink */
.arconix-testimonial-byline a {
    text-decoration: none;
}

.arconix-testimonial-byline a:hover {
    text-decoration: underline;
}

/* No testimonials */
.arconix-testimonials-none { }

/* Single Testimonial Page byline */
.single-testimonials .arconix-testimonial-byline {
    font-style: italic;
}

/* Single Testimonial Page content */
.single-testimonials .arconix-testimonial-content {
    font-style: normal;
}

.single-testimonials .entry-header {
    margin-bottom: 10px;
}

.single-testimonials .arconix-testimonial-info-wrap {
    margin-bottom: 20px;
}